{% assign device = site.data.devices[page.device] %}
<table class="table">
    <tbody>
        <tr>
            <th colspan="2">{{ device.vendor}} {{ device.model }} {{ device.version }}</th>
        </tr>
        {% if device.image %}
        <tr>
            <td colspan="2">
                <img class="img-fluid" src="{{ "images/devices/" | append: device.image | relative_url }}" />
            </td>
        </tr>
        {% endif %}
        <tr>
            <th scope="row">Latest release</th>
            <td>
                {% if device.supported_current_rel == site.current_release %}
                {% assign state = "success" %}
                {% elsif device.supported_current_rel == "snapshot" %}
                {% assign state = "rose" %}
                {% else %}
                {% assign state = "warning" %}
                {% endif %}
                <span class="badge badge-{{ state }}">
                    {{ device.supported_current_rel | default: "Unknown" }}
                </span>
                {% if device.availability contains "Discontinued" %}
                <span class="badge badge-danger">
                    Discontinued
                </span>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th scope="row">Device Type</th>
            <td>{{ device.device_type }}</td>
        </tr>
        <tr>
            <th scope="row">Vendor</th>
            <td>{{ device.vendor }}</td>
        </tr>
        <tr>
            <th scope="row">Model</th>
            <td>{{ device.model }}</td>
        </tr>
        <tr>
            <th scope="row">Flash</th>
            <td>
                {% assign flash_mb = device.flash_mb | plus: 0 %}
                {{ flash_mb }} MB
                {% if flash_mb < site.min_ram %} <i class="material-icons">warning</i>
                    {% endif %}
            </td>
        </tr>
        <tr>
            <th scope="row">RAM</th>
            <td>
                {% assign ram_mb = device.ram_mb | plus: 0 %}
                {{ ram_mb }} MB
                {% if ram_mb < site.min_flash %} <i class="material-icons">warning</i>
                    {% endif %}
            </td>
        </tr>
        <tr>
            <th scope="row">CPU</th>
            <td>
                {{ device.cpu }} ({{ device.target }})</br>
                {{ device.cpu_cores }} x {{ device.cpu_mhz }}MHz
            </td>
        </tr>
        {% if device.ethernet_gbit_ports or device.ethernet_100m_ports %}
        <tr>
            <th scope="row">Ethernet ports</th>
            <td>
                {{ device.ethernet_gbit_ports | default: 0 }} x GBit
                &mdash;
                {{ device.ethernet_100m_ports | default: 0 }} x 100Mbit
            </td>
        </tr>
        {% endif %}
        {% if device.wlan_24ghz or device.wlan_50ghz %}
        {% assign dual_band = device.wlan_24ghz and device.wlan_50ghz %}
        <tr>
            <th scope="row">WiFi</th>
            <td>
                {% if device.wlan_24ghz %}
                <p><b>2.4Ghz:</b> {{ device.wlan_24ghz | join: "/" }}</p>
                {% endif %}
                {% if device.wlan_50ghz %}
                <p><b>5Ghz:</b> {{ device.wlan_50ghz | join: "/" }}</p>
                {% endif %}
            </td>
        </tr>
        {% endif %}
        {% if device.usb_ports %}
        <tr>
            <th scope="row">USB</th>
            <td>{{ device.usb_ports }}</td>
        </tr>
        {% endif %}
        {% if device.switch %}
        <tr>
            <th scope="row">Switch</th>
            <td>{{ device.switch }}</td>
        </tr>
        {% endif %}
        {% if device.bootloader %}
        <tr>
            <th scope="row">Bootloader</th>
            <td>{{ device.bootloader }}</td>
        </tr>
        {% endif %}
        {% if device.power_supply %}
        <tr>
            <th scope="row">Power Supply</th>
            <td>{{ device.power_supply | default: "Unknown" }}</td>
        </tr>
        {% endif %}
        <tr>
            <th scope="row">Serial</th>
            <td>
                <i class="material-icons">
                    {% if device.serial %}
                    check_circle
                    {% else %}
                    cacel
                    {% endif %}
                    <i />
            </td>
        </tr>
        <tr>
            <th scope="row">Additional resources</th>
            <td>
                <ul>
                    {% if device.wikidevi_url %}
                    <li><a href="{{ device.wikidevi_url }}">WikiDev</a></li>
                    {% endif %}
                    {% if device.owrt_forum_topic_url %}
                    <li><a href="{{ device.owrt_forum_topic_url }}">Disucssion</a></li>
                    {% endif %}
                    {% if device.supported_since_commit %}
                    <li><a href="{{ device.supported_since_commit }}">Initial commit</a></li>
                    {% endif %}
                    {% if device.fccid %}
                    <li><a href="{{ device.fccid }}">fccid</a></li>
                    {% endif %}
                </ul>
            </td>
        </tr>
    </tbody>
</table>
