<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>

    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous"></script>
    <script src="{{ site.baseurl }}/assets/js/main.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons" rel="stylesheet">


    <link href="{{ site.baseurl }}/assets/css/material-kit.css" rel="stylesheet">
</head>

<body>
    {% include layout/navbar.html %}
    <div class="main-content">
        <div class="container page">
            {{ content }}
        </div>
    </div>

    {% include layout/footer.html %}
</body>

</html>
