---
title: Device
layout: default
---
<h2>Info about <tt>{{ page.device_page }}</tt></h2>
<table class="table">
    <tbody>
        <tr>
            <th colspan="2">{{ page.brand }} {{ page.model }}</th>
        </tr>
        <tr>
            <th colspan="2">
                {% if page.wikidevi_url %}
                <a href="{{ page.wikidevi_url }}">WikiDev</a>
                {% endif %}
                {% if page.owrt_forum_topic_url %}
                <a href="{{ page.owrt_forum_topic_url }}">Disucssion</a>
                {% endif %}
            </th>
        </tr>
        <tr>
            <th scope="row">Device Type</th>
            <td>{{ page.device_type }}</td>
        </tr>
        <tr>
            <th scope="row">Brand</th>
            <td>{{ page.brand }}</td>
        </tr>
        <tr>
            <th scope="row">Model</th>
            <td>{{ page.model }}</td>
        </tr>
        <tr>
            <th scope="row">RAM</th>
            <td>{{ page.ram_mb }} MB</td>
        </tr>
        <tr>
            <th scope="row">CPU</th>
            <td>{{ page.cpu }} ({{ page.cpu_cores }} x {{ page.cpu_mhz }}MHz)</td>
        </tr>
        <tr>
            <th scope="row">Switch</th>
            <td>{{ page.switch }}</td>
        </tr>
        <tr>
            <th scope="row">Power Supply</th>
            <td>{{ page.power_supply }}</td>
        </tr>
        <tr>
            <th scope="row">Comments</th>
            <td>{{ page.comments }}</td>
        </tr>
    </tbody>
</table>
