---
layout: default
---
{% assign device = site.data.devices[page.device] %}
<div class="container page">
    <div class="row">
        <div class="col-lg-7">
            <h2>Model <tt>{{ device.device_id }}</tt></h2>
            <ul>
                {% if device.wikidevi_url %}
                <li><a href="{{ device.wikidevi_url }}">WikiDev</a></li>
                {% endif %}
                {% if device.owrt_forum_topic_url %}
                <li><a href="{{ device.owrt_forum_topic_url }}">Disucssion</a></li>
                {% endif %}
            </ul>
            <p>
                {% if device.firmware_openwrt_install_url %}
                <a href="{{ device.firmware_openwrt_install_url }}" class="btn btn-primary"><i class="material-icons">get_app</i>Stock Image</a>
                {% endif %}
                {% if device.firmware_openwrt_upgrade_url %}
                <a href="{{ device.firmware_openwrt_upgrade_url }}" class="btn btn-primary"><i class="material-icons">get_app</i>Upgrade Image</a>
                {% endif %}
            </p>
            <p>
                {% if device.firmware_openwrt_snapshot_install_url %}
                <a href="{{ device.firmware_openwrt_snapshot_install_url }}" class="btn btn-danger"><i class="material-icons">get_app</i>Snapshot Stock Image</a>
                {% endif %}
                {% if device.firmware_openwrt_snapshot_install_url %}
                <a href="{{ device.firmware_openwrt_snapshot_install_url }}" class="btn btn-danger"><i class="material-icons">get_app</i>Snapshot Upgrade Image</a>
                {% endif %}
            </p>
            {% if device.comments or device.wlan_comments %}
            <h3>Comments</h3>
            {% if device.comments %}
            <h4>General</h4>
            <p>
                <td>{{ device.comments }}</td>
            </p>
            {% endif %}
            {% if device.wlan_comments %}
            <h4>WLAN</h4>
            <p>
                <td>{{ device.wlan_comments }}</td>
            </p>
            {% endif %}
            {% if device.comment_recovery %}
            <h4>Recovery</h4>
            <p>
                <td>{{ device.comment_recovery }}</td>
            </p>
            {% endif %}
            {% if device.comment_installation %}
            <h4>Installation</h4>
            <p>
                <td>{{ device.comment_installation }}</td>
            </p>
            {% endif %}
            {% endif %}
        </div>
        <div class="col-lg-5">
            <table class="table">
                <tbody>
                    <tr>
                        <th colspan="2">{{ device.brand }} {{ device.model }}</th>
                    </tr>
                    <tr>
                        <th scope="row">Latest release</th>
                        <td>
                            {% if device.supported_current_rel == site.current_release %}
                            {% assign state = "success" %}
                            {% elsif device.supported_current_rel == "snapshot" %}
                            {% assign state = "rose" %}
                            {% else %}
                            {% assign state = "warning" %}
                            {% endif %}
                            <span class="badge badge-{{ state }}">
                                {{ device.supported_current_rel }}
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Device Type</th>
                        <td>{{ device.device_type }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Brand</th>
                        <td>{{ device.brand }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Model</th>
                        <td>{{ device.model }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Flash</th>
                        <td>
                            {% assign flash_mb = device.flash_mb | plus: 0 %}
                            {{ flash_mb }} MB
                            {% if flash_mb <= 4 %}
                            <i class="material-icons">warning</i>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">RAM</th>
                        <td>
                            {% assign ram_mb = device.ram_mb | plus: 0 %}
                            {{ ram_mb }} MB
                            {% if ram_mb <= 32 %}
                            <i class="material-icons">warning</i>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">CPU</th>
                        <td>
                            {{ device.cpu }} ({{ device.target }})</br>
                            {{ device.cpu_cores }} x {{ device.cpu_mhz }}MHz
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Switch</th>
                        <td>{{ device.switch | default: "Unknown" }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Bootloader</th>
                        <td>{{ device.bootloader }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Power Supply</th>
                        <td>{{ device.power_supply }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
